.new-collections {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    nav-down: 100px;
    margin-bottom: 50px; /* Add margin-bottom to create space between Popular and Offers */
}

/* No changes needed */
.new-collections  h1 {
    color: #FABC3F;
    font-size: 50px;
    font-weight: 400;
}

/* No changes needed */
.new-collections hr {
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #EE4E4E;
}

/* Adjusted spacing */
.collections  {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 50px;
    gap: 30px;
}

/* No changes needed */
.new-collections  span {
    color: #EE4E4E;
    font-size: 50px;
    font-weight: 600;
}